:root{
    --grey_color:  rgb(235, 235, 235);
    --icon_color: rgb(108, 114, 117);
}
.color_gray{
    color: var(--icon_color);
}

/* -----------------GENERAL RULE----------------- */
html{
    font-family: Arial, Helvetica, sans-serifs;
}

/* -----------------HEADER RULE----------------- */
header{
    height: 70px;
    background-color: rgb(0, 150, 135);
}

/* -----------------MAIN RULE------------------- */
main{
    background-color: rgb(218, 219, 213);
    height: calc(100vh - 70px);
}

.my_container{
    width: 1100px;
    height: 90%;
    margin: 0 auto;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: white;
}

/* HEADER MAIN  */
.header_left,
.header_right
{
    background-color: var(--grey_color);
    height: 60px;
    display: flex;
    padding: 7px;
    justify-content: space-between;
}

.header_icon{
    display: flex;
    align-items: center;
    color: var(--icon_color);
}
.header_icon >*{
   padding-right: 12px;
}
.user_container{
    display: flex;
    align-items: center;
}

img{
    width: 47px;
    border-radius: 50%;
}
.name_user{
    font-size: 0.9em;
}


/* MAIN */
.main_chat{
    display: flex;
    height: 100%;
}

/* LEFT MAIN */
.left_container{
    width: 30%;
    height: 100%;
    border-right: 1px solid rgb(208, 202, 202);
}

.notifiche_container{
    background-color: rgb(141, 217, 252);
    height: 45px;
    display: flex;
}
.ring_container{
    display: flex;
    align-items: center;
    padding: 10px;
}
.ring_container>*{
    background-color: white;
    border-radius: 50%;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    font-size: 1em;
    color: rgb(141, 217, 252);
}
.turn_on_notifications{
    color: var(--icon_color);
    font-size: 0.9em;
    text-decoration: underline;
}
.notifiche_text_container{
    font-size: 0.8em;
    padding-top: 4px;
}

.search_container{
    padding: 5px;
    background-color: var(--grey_color);
    height: 35px;
}
.search_container input{
   height: 24px;
}

.single_user_chat> *{
    border-bottom: 1px solid lightgray;
    padding: 3px;
}
/* RIGHT MAIN */
.right_container{
    width: 70%;
    height: 100%;
}



.input_text_container{
    display: flex;
    height: 40px;
    background-color:  var(--grey_color);;
    margin: 0 auto;
    justify-content: space-between;
    padding: 7px;
}
.input_text_container > *{
    display: flex;
    margin-right: 5px;

}
.input_text_container >:first-child,
.input_text_container >:last-child{
    width: 10%;
}
.input_text_container >:nth-child(2){
    width: 80%;
}
.input_text_container >:nth-child(2) input{
    width: 100%;
    border: none;
}

.mic_container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--icon_color);
}
.emoji_container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon_color);
}


/* CHAT */
.container_chat{
    background-image: url(../img/mine.jpg);
    height: calc(100% - 100px);
}
.chat{
    height: calc(100% - 40px);
    padding: 35px;
}

.chat > *{
    width: 100%;
    height: 30px;
}


.sent, .received{
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 0.9em;
}

.sent{
    background-color: rgb(214, 250, 187);
    text-align: end;
}

.received{
    background-color: white;
}

.sent_container{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 5px;
    background-color: rgb(214, 250, 187);
    padding: 5px;
    border-radius: 8px;
}
.received_container{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 5px;
    background-color: white;
    padding: 5px;
    border-radius: 8px;
}